<div class="container custom-container-2">

 
  <!-- List table, it hides when there is no employee -->
  <div *ngIf="Templ.length !== 0">
    <h3 class="mb-3 text-center">Device List</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Connection Status</th>
            <th scope="col">Signal</th>
            <th scope="col">Battery</th>
            <th scope="col">Alert</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let temp of Temp">
            <td>{{temp.id}}</td>
            <td>{{temp.name}}</td>
            <td>{{temp.value}}</td>
            <td>{{temp.status}}</td>
            <td>{{temp.signal}}</td>
            <td>{{temp.battery}}</td>
           <td>{{temp.alert}}</td>
          </tr>
        </tbody>
      </table></div></div>
  </div>
